.container-animal-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    /* flex-wrap: wrap; */
}

.filter-content{
    max-width: 20%;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.container-list ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0;
    flex-wrap: wrap;
}

.container-list ul li{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 40vh;
    width: calc(25% - 10px);
    box-sizing: border-box;
    text-align: center;
}
.container-list ul li img{
    min-height: 30vh;
    max-width: 100%;
    max-height: 70%;
    border-radius: 5px;
    object-fit: cover;
}

.datas{
    display: flex;
    justify-content: space-around;
}

