.container-animal-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

/* .filter-content{
    max-width: 20%;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
} */

.container-list ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;

}

.container-list ul li{
    background-color: #1d1d1dc2;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: calc(10% - 10px);
    width: calc(50% - 10px);
    min-width: 200px;
    box-sizing: border-box;
    text-align: center;
}
.container-list ul li img{
    min-height: 30vh;
    width: 100%;
    max-height: 70%;
    border-radius: 5px;
    object-fit: cover;
}

.datas{
    display: flex;
    justify-content: space-around;
}

