{% extends "base.html" %}
{% load static %}
{% block title %}Help Pet - Desaparecidos {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style_animallist.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}

{% block content %}
    <div class="container-animal-list">
        <div class="filter-content">
            <form action="GET">
                {{form.as_p}}
                <button type="submit">Filtrar</button>
            </form>
        </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
        <div class="container-list">
            <ul>
                {% for an in animais%}
                <li>
                    <a href="#"><img src="{{ an.picture.url }}" alt="">
                        <div class="datas">
                            <h2>{{ an.name }}</h2>
                            <div class="icon-react">
                                <a href="#"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                    </a>
                    
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}