{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style_base.css' %}">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    <div class="container-page">
        <div class="container-head">
            <img src="{% static 'img/logo2025.png' %}" alt="logo escrito Help Pet" class="logo_menu">
            <ul class="menu-options">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'animal_list' %}">Desparecidos</a></li>
                <li><a href="#">Adoção</a></li>
                <li><a href="#">Abandonados</a></li>
                {% if user.is_authenticated %}
                    <li class="auth-button-red"><a href="{% url 'user_out' %}">Logout</a></li>
                {% else %}
                    <li class="auth-button-blue" ><a href="{% url 'user_log' %}">Login/Cadastro</a></li>
                {% endif %}
            </ul>
        </div> 
        <div class="container-content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="container-footer">
        <div class="footer-content">
            <ul class="list-content">
                <span class="footer-title">HelpPet</span>
                <li><a href="#">Nossa Missão</a></li>
                <li><a href="#">Historias de Sucesso</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <ul class="list-content">
                <span class="footer-title">Como Ajudar</span>
                <li><a href="#">Quero Adotar</a></li>
                <li><a href="#">Cadastrar Animal</a></li>
                <li><a href="#">Seja Voluntario</a></li>
            </ul>
            <ul class="list-content">
                <span class="footer-title">Siga-nos</span>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
            <p>2025 HelpPet - Reunindo Patas e Corações</p>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</html>